
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../../assets/images/APLogo-20-20.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
      Argentina Programa - #YoProgramo
    </a>
    <form class="d-flex">
      <button class="btn btn-secondary" type="submit"><i class="fa fa-instagram" aria-hidden="true"></i></button>
      <button class="btn btn-secondary" type="submit"><i class="fa fa-facebook" aria-hidden="true"></i></button>
      <button class="btn btn-success" type="submit">Login</button>

    </form>
  </div>
</nav>
<div class="container">
  <div class="card mb-3">
    <app-profile></app-profile>
    </div>
    <div class="card-body bg-light">
      <div class=" d-flex justify-content-between">
        <h6><strong>EXPERIENCIA</strong></h6>
        <i class="fa fa-plus" aria-hidden="true"></i>

      </div>
      <app-experiencia-laboral-item></app-experiencia-laboral-item>
    </div>
    <div class="card-body bg-info">
      <h6><strong>EDUCACIÓN</strong></h6>
     <app-educacion-item></app-educacion-item>
    </div>
  </div>
 



