<div class="row">
  <div class="col-3">
    <img alt="logo villa" src="#"/>
  </div>
  <div class="col-7">
    <h6>Facilitador TIC</h6>
    <small>Brindando asistencia tecnica y pedagogica a las diferentes escuelas de educación
      inicial, especial, primaria, secundaria y superior pertenecientes a la delegación zonal
      de My. Villafañe</small>
  </div>
  <div class="col-1 ">

    <i class="fa fa-pencil m-1" aria-hidden="true"></i>
    <i class="fa fa-trash m-1" aria-hidden="true"></i>
  </div>
</div><br/>
<div class="row">
  <div class="col-3">
    <img alt="logo cesep" src="../../assets/images/LOGO CESEP 55.jpg"/>
  </div>
  <div class="col-8">
    <h6>Profesora de Matemática</h6>
   <small>Dictado de clases a estudiantes adultos</small>
  </div>
</div><br/>
<div class="row">
  <div class="col-3">
    <img alt="logo IPF" src="../../assets/images/ipf.jpeg" width="100px" height="100px"/>
  </div>
  <div class="col-8">
    <h6>Pasante</h6>
   <small>Desarrollo de proyectos interdisciplinares con técnicos mecatrónicos</small>
  </div>
</div><br/>
<div class="row">
  <div class="col-3">
    <img alt="logo Instituto Almenara" src="../../assets/images/vma.jpg" width="100px" height="100px"/>
  </div>
  <div class="col-8">
    <h6>Profesora de TIC</h6>
   <small>Asistencia técnica y mantenimiento de plataforma web</small>
  </div>
</div><br/>
