
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../../assets/images/APLogo-20-20.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
        Argentina Programa - #YoProgramo
      </a>
      <form class="d-flex">
        <button class="btn btn-secondary" type="submit"><i class="fa fa-instagram" aria-hidden="true"></i></button>
        <button class="btn btn-secondary" type="submit"><i class="fa fa-facebook" aria-hidden="true"></i></button>
        <button class="btn btn-success" type="submit">Login</button>

      </form>
    </div>
  </nav>
  <div class="container">
    <div class="card mb-3">
      <img src="../../assets/images/software-de-gestion.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <img src="../../assets/images/perfil.jpg" class="rounded-circle" width="150" height="150" />
        <h5 class="card-text"><strong>Maza Romina Alejandra</strong></h5>
        <p>Full Stack Developer Jr.</p>
        <p>Especialista en Desarrollo de Software</p>
        <p>Profesora de Matemática</p>

      </div>
      <div class="card-body bg-light">
        <div class=" d-flex justify-content-between">
          <h6><strong>EXPERIENCIA</strong></h6>
          <i class="fa fa-plus" aria-hidden="true"></i>

        </div>
        <div class="row">
          <div class="col-3">
            <img alt="logo villa" src="#"/>
          </div>
          <div class="col-7">
            <h6>Facilitador TIC</h6>
            <small>Brindando asistencia tecnica y pedagogica a las diferentes escuelas de educación
              inicial, especial, primaria, secundaria y superior pertenecientes a la delegación zonal
              de My. Villafañe</small>
          </div>
          <div class="col-1 ">

            <i class="fa fa-pencil m-1" aria-hidden="true"></i>
            <i class="fa fa-trash m-1" aria-hidden="true"></i>
          </div>
        </div><br/>
        <div class="row">
          <div class="col-3">
            <img alt="logo cesep" src="../../assets/images/LOGO CESEP 55.jpg"/>
          </div>
          <div class="col-8">
            <h6>Profesora de Matemática</h6>
           <small>Dictado de clases a estudiantes adultos</small>
          </div>
        </div><br/>
        <div class="row">
          <div class="col-3">
            <img alt="logo IPF" src="../../assets/images/ipf.jpeg" width="100px" height="100px"/>
          </div>
          <div class="col-8">
            <h6>Pasante</h6>
           <small>Desarrollo de proyectos interdisciplinares con técnicos mecatrónicos</small>
          </div>
        </div><br/>
        <div class="row">
          <div class="col-3">
            <img alt="logo Instituto Almenara" src="../../assets/images/vma.jpg" width="100px" height="100px"/>
          </div>
          <div class="col-8">
            <h6>Profesora de TIC</h6>
           <small>Asistencia técnica y mantenimiento de plataforma web</small>
          </div>
        </div><br/>
      </div>
      <div class="card-body bg-info">
        <h6><strong>EDUCACIÓN</strong></h6>
        <div class="row">
          <div class="col-3">
            <img alt="logo EPEP120" src="#"/>
          </div>
          <div class="col-5">
            <h6>E.P.E.P. N° 120 "Teniente Manuel Felix Origone"</h6>
            <small>Mayor Villafañe</small>
          </div>
          <div class="col-3">
            <h6>Periodo</h6>
            <small>2001-2007</small>
          </div>
        </div><br/>
        <div class="row">
          <div class="col-3">
            <img alt="logo EPES11" src="#"/>
          </div>
          <div class="col-5">
            <h6>E.P.E.S. N° 11 "Cabo 1° Roberto Antonio Báez"</h6>
            <small>Mayor Villafañe</small>
          </div>
          <div class="col-3">
            <small>2008-2013</small>
          </div>
        </div><br/>
        <div class="row">
          <div class="col-3">
            <img alt="logo vma" src="../../assets/images/vma.jpg"  width="100px" height="100px"/>
          </div>
          <div class="col-5">
            <h6>I.S.F.D. y T. "Victor Manuel Almenara"</h6>
            <small>Profesora de educación secundaria en Matemática</small>
          </div>
          <div class="col-3">
            <small>2014-2017</small>
          </div>
        </div><br/>
        <div class="row">
          <div class="col-3">
            <img alt="logo vma" src="../../assets/images/ipf.jpeg"  width="100px" height="100px"/>
          </div>
          <div class="col-5">
            <h6>I.P.F. "Instituto Politécnico Formosa"</h6>
            <small>Especialista en desarrollo de software</small>
          </div>
          <div class="col-3">
            <small>2020</small>
          </div>
        </div><br/>
        <div class="row">
          <div class="col-3">
            <img alt="logo vma" src="../../assets/images/mundos-e-logo-1.png" />
          </div>
          <div class="col-5">
            <h6>MundosE - Cerficación universitaria emitida por UNC </h6>
            <small>Ciencia de Datos</small>
          </div>
          <div class="col-3">
            <small>2021-2022</small>
          </div>
        </div><br/>
        <div class="row">
          <div class="col-3">
            <img alt="logo argentina-programa" src="../../assets/images/APLogo-20-20.png"  width="150px" height="80px"/>
          </div>
          <div class="col-5">
            <h6>Argentina Programa' #YoProgramo</h6>
            <small>Desarrollador Full Stack Jr.</small>
          </div>
          <div class="col-3">
            <small>2021-2022</small>
          </div>
        </div><br/>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <div class="card">
        <div class="card-header cabecera-login">
          Login
        </div>
        <div class="card-body">
          <form class="">
            <div class="form-group">
              <input type="text" placeholder="usuario" class="form-control">
            </div>
            <div class="form-group pt-1 pb-1">
              <input type="password" placeholder="contraseña" class="form-control">
            </div>
            <button class="btn btn-success" type="submit">Ingresar</button>
          </form>


        </div>
      </div>



    </div>

  </div>

